<h1>Edit <%= @expense.vendor %></h1>

<form action="/expenses/<%= @expense.id %>" method="post">
<input type="hidden" name="_method" value="patch">
  <label for="name">Vendor:</label><br>
  <input type="text" id="vendor" name="expense[vendor]" value=<%= @expense.vendor %>><br>
  <label for="date">Date:</label><br>
  <input type="date" id="date" name="expense[date]" value=<%= @expense.date %>><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="expense[description]" value=<%= @expense.description %>><br>
  <label for="total_amount">Total_Amount: $</label><br>
  <input type="number" name="expense[total_amount]" id="total_amount" min="0.00" value=<%= @expense.total_amount%>><br>
  <input type="submit" value="Update Expense Sheet"><br>
</form>
